/* Media queries for foundation overrides. Otherwise foundation included breakpoints
that can be set from element class attributes. This is based on a mobile-first mindset.*/

/* Mobile, although affects everything if no override is set via the media queries. */

/* Mobile md: */
body {
    max-width: 100%;
    overflow-x: hidden;
}

#main-title {
  font-size: 2.5em;
  font-weight: 600;
}

#right-head, #left-head {
  font-size: 1.5em;
  font-weight: 400;
}

.resource-page {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.navigation-header {
  text-align: center;
}

#row {
  width: 100%;
  height: 90px;
  background-color: rgb(0, 60, 172);
  color: white;
}

#nav-left, #nav-right {
  width: 20%;
}

#q1-header {
  border-bottom: 1px solid black;
}

#q2-header {
  border-bottom: 1px solid black;
}

#q3-header {
  border-bottom: 1px solid black;
}

#q4-header {
  border-bottom: 1px solid black;
}

#q5-header {
  border-bottom: 1px solid black;
}

div > h4 {
  font-size: 1.4em;
  font-weight: 600;
}

#nav-pages { 
  background-color: lightblue;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.nav-item {
  margin: 10px 0 10px 0;
  background-color: rgb(0, 68, 255);
  cursor: pointer;
  color: white;
}

.meditation-header {
  text-align: center;
  margin-top: 40px;
}

.article-header {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px
}

.hotline-header {
  text-align: center;
  margin-top: 25px;
}

.meditation-quote {
  margin-top: 30px;
  text-align: center;
}

.video-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  top: 50%;
  width: 500px;
  height: 500px;
  background-color: lightblue;
}

.video-boxes {
  display: flex;
  margin: 20px auto 0px auto;
  justify-content: center;
}


.med-nav {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}



.article-nav {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.hotline-nav {
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }


.med-nav-item {
  margin-right: 15px;
  width: auto;
  background-color: blue;
  cursor: pointer;
  color: white;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > button {
  padding: 5px 20px 5px 20px;
  border: solid black 2px;
  border-radius: 8px;
  height: 45px;
  width: 98%;
}

.quiz-buttons:first-child {
  margin: 15px 0 0 0;
}

.quiz-buttons:last-child{
  margin: 15px 0 15px 0;
}

.quiz-buttons {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 15px 250px 0px 250px;
  font-size: 20px;
  align-items: flex-end;
}

.quiz-buttons {
  align-items: flex-end;
}

.article-nav-item {
  margin-right: 15px;
  width: auto;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.hotline-nav-item {
    margin-right: 15px;
    width: auto;
    background-color: blue;
    color: white;
    cursor: pointer;
  }

  #map {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .hide {
    display: none;
  }
  
  #mapHeader,
  #videosHeader,
  #hotlinesHeader {
    font-size: 1.5em;
    font-weight: 600;
  }

  .mediaList {
    margin: 10px 1.25rem 10px 1.25rem;
    border: solid 2px black;
    padding: 1%;
  }

  .hotlinesList {
    margin: 10px 1.25rem 10px 1.25rem;
    border: solid 2px black;
    padding: 1%;
  }

  .hlList {
    font-size: 18px;
    text-align: center;
  }

  .hlList > li {
    margin: 10px 0 10px 0
  }

  .hlList > li > a {
    text-decoration: underline;
    color: rgb(37, 77, 255)
  }


  .videoList {
    text-align: center;
  }

  .videoList > li {
    margin: 10px 0 10px 0;
  }

  .videoList > li > a {
    text-decoration: underline;
    font-size: 18px;
    color: rgb(37, 77, 255)
  }

  #resources {
    font-size: 1.5em;
    font-weight: 600;
  }

  .active {
    color: green;
  }

/* -------------------------------------------------------------------------------- */
/* px values chosen are based on medium and large values associated with Foundation */
/* Refer to: https://get.foundation/sites/docs/media-queries.html */

/* Tablet md: */
@media screen and (min-width: 768px) {
  .customWidth {
    width: 100%;
  }

  #nav-pages { 
    background-color: lightblue;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0 10px 0;
    background-color: rgb(0, 68, 255);
    cursor: pointer;
    color: white;
  }
  
  #map {
    position: relative;
    width: 75%;
    margin: 0 auto 0 auto;
    height: 350px;
  }

  .mediaList {
    margin: 10px 1.25rem 10px 1.25rem;
    padding: 1%;
  }

  .hotlinesList {
    margin: 10px 1.25rem 10px 1.25rem;
    padding: 1%;
  }
}  

/* -------------------------------------------------------------------------------- */


/* Desktop lg: */
@media screen and (min-width: 1024px) {
  .customWidth {
    width: 100%;
  }

  #nav-pages { 
    background-color: lightblue;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .nav-item {
    margin: 10px 0 10px 0;
    background-color: rgb(0, 68, 255);
    cursor: pointer;
    color: white;
  }
  
  .nav-item:first-child {
    margin-right: 8%;
    margin-left: 120px;
  }
  
  .nav-item:last-child {
    margin-left: 8%;
    margin-right: 120px;
  }

  #map {
    position: relative;
    width: 60%;
    height: 450px;
    margin: 0 auto 0 auto;
  }

}  







